
:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #d9dce0;
    --padding-df: 0.2rem;
  }
  
  * {
    padding: 0;
    margin:0;
  }
  body {
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen, Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    transition: background-color .3s;
  }
  a {
    color: var(--color-primary)
  }

  input {
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen, Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  }
